In [1]:
import pandas as pd
import numpy as np

In [2]:
data= {'Price' : [110,105,115,120,110,130,150,100,105 ]}
df= pd.DataFrame(data)

In [3]:
df

   Price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

# Normalization

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()

In [6]:
df['Price_Normalization']=scaler.fit_transform(df[['Price']])

In [7]:
df

   Price  Price_Normalization
0    110                  0.2
1    105                  0.1
2    115                  0.3
3    120                  0.4
4    110                  0.2
5    130                  0.6
6    150                  1.0
7    100                  0.0
8    105                  0.1

# Standardization

In [8]:
from sklearn.preprocessing import StandardScaler
stand = StandardScaler()

In [9]:
df['Price_Standardization'] = stand.fit_transform(df[['Price']])

In [10]:
df

   Price  Price_Normalization  Price_Standardization
0    110                  0.2              -0.416356
1    105                  0.1              -0.757011
2    115                  0.3              -0.075701
3    120                  0.4               0.264954
4    110                  0.2              -0.416356
5    130                  0.6               0.946264
6    150                  1.0               2.308884
7    100                  0.0              -1.097666
8    105                  0.1              -0.757011

# Log Transformation

In [12]:
from sklearn.preprocessing import FunctionTransformer

In [14]:
df['Price_Log'] = FunctionTransformer(np.log1p).fit_transform(df[['Price']])

In [15]:
df

   Price  Price_Normalization  Price_Standardization  Price_Log
0    110                  0.2              -0.416356   4.709530
1    105                  0.1              -0.757011   4.663439
2    115                  0.3              -0.075701   4.753590
3    120                  0.4               0.264954   4.795791
4    110                  0.2              -0.416356   4.709530
5    130                  0.6               0.946264   4.875197
6    150                  1.0               2.308884   5.017280
7    100                  0.0              -1.097666   4.615121
8    105                  0.1              -0.757011   4.663439

# Robust Scaler

In [16]:
from sklearn.preprocessing import RobustScaler
robust = RobustScaler()

In [17]:
df['Price_Robust'] = robust.fit_transform(df[['Price']])

In [18]:
df

   Price  Price_Normalization  Price_Standardization  Price_Log  Price_Robust
0    110                  0.2              -0.416356   4.709530      0.000000
1    105                  0.1              -0.757011   4.663439     -0.333333
2    115                  0.3              -0.075701   4.753590      0.333333
3    120                  0.4               0.264954   4.795791      0.666667
4    110                  0.2              -0.416356   4.709530      0.000000
5    130                  0.6               0.946264   4.875197      1.333333
6    150                  1.0               2.308884   5.017280      2.666667
7    100                  0.0              -1.097666   4.615121     -0.666667
8    105                  0.1              -0.757011   4.663439     -0.333333

# Max Absolute Scaler

In [19]:
from sklearn.preprocessing import MaxAbsScaler
maxabs = MaxAbsScaler()

In [20]:
df['Price_MaxAbs'] = maxabs.fit_transform(df[['Price']])

In [21]:
df

,Price,Price_Normalization,Price_Standardization,Price_Log,Price_Robust,Price_MaxAbs
0,110,0.2,-0.416356,4.709530,0.000000,0.733333
1,105,0.1,-0.757011,4.663439,-0.333333,0.700000
2,115,0.3,-0.075701,4.753590,0.333333,0.766667
3,120,0.4,0.264954,4.795791,0.666667,0.800000
4,110,0.2,-0.416356,4.709530,0.000000,0.733333
5,130,0.6,0.946264,4.875197,1.333333,0.866667
6,150,1.0,2.308884,5.017280,2.666667,1.000000
7,100,0.0,-1.097666,4.615121,-0.666667,0.666667
8,105,0.1,-0.757011,4.663439,-0.333333,0.700000